*{
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    color: black;
    font-family: "Inter", sans-serif;
}
body{
    max-width: 600px;
    height: 500px;
}
.container{
    max-width: 480px;
    margin-top: 30px;
    height: 500px;
    background-color: #c26c49;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
}
p{
    color: #d8e3dd;
}
.title{
    text-align: center;
    font-size: 40px;
    padding: 25px;
}
.form-section{
    height: 370px;
    margin-top: px;
    background-color: #bd8869;
    border-radius: 8px;
}
form{
    margin-left: 25px;
    padding-top: 20px;
}
input{
    border-style: none;
    border-radius: 5px;
    height:40px;
    width: 300px;
    color: black;
    margin: 8px;

    font-size: larger;
    padding-left: 8px;
}
.name{
    margin-left: 8px;
}
button{
    width: 220px;
    border-style: none;
    height: 40px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 105px;
    background-color: #e8c3a8;
    color: #443636;
    font-size: larger;
}
#total{
    margin-top: 15px;    
    margin-left: 8px;
}