*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3d4e4e;
}
.container{
    margin: 10% auto;
    max-width: 480px;
    background-color: hsl(7, 82%, 20%);
    box-shadow: -1px -5px 20px hsla(10, 34%, 51%, 0.5); 
    border-radius: 10px;
}
.title{
    text-align: center;
    /* font-size: 35px; */
    padding-top: 40px;
}
.form-section{
    height: 400px;
    margin-top: 20px;
}
input{
    
    border-style: none;
    
    border-radius: 5px;
    height:40px;
    width: 300px;
    color: white;
    margin-top: 5px;
    font-size: larger;
    padding-left: 8px;
}

button{
    width: 300px;
    border-style: none;
    height: 40px;
    border-radius: 5px;
    margin-top: 30px;
    
}